<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>Resultados de la encuesta</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
</head>

<body>
    <div class="container p-3">
        <div class="card shadow galeria">
            <div class="card-body p-2">
                <div class="card-title d-flex flex-column justify-content-center align-items-center p-2 gap-2">
                    <h1 class="card-title text-center fw-bold"> Encuesta sobre libros </h1>
                </div>
                <% if(encuesta) {%>
                        <div class="d-flex flex-column justify-content-start align-items-start gap-3 p-2">
                            <% encuesta.forEach((pregunta, indicePregunta)=> {%>
                                <h2 class="text-start fw-bold">
                                    <%= indicePregunta+1 %>. <%= pregunta.pregunta %>
                                </h2>
                                <div class="d-flex flex-column justify-content-start align-items-start gap-3">
                                    <% pregunta.opciones.forEach((opcion, indiceOpcion)=> {%>
                                        <p class="text-start"> <span class="fw-bold">
                                                <%= indicePregunta+1 %>.<%= indiceOpcion +1 %>.
                                            </span>
                                            <%= opcion.opcion %>:
                                            <span class="text-primary fw-bold"> <%= opcion.votos %></span>
                                        </p>
                                        <% })%>
                                </div>
                                <% })%>

                        </div>
                        <div class="d-flex flex-row justify-content-center align-items-center gap-2">
                            <a href="/encuesta/" class="btn btn-outline-primary btn-lg" role="button"> Volver a la encuesta </a>

                        </div>
                    <% } else {%>
                        <h2 class="text-center text-danger"> No hay ninguna encuesta disponible en este momento</h2>
                        <% } %>
            </div>
        </div>
    </div>
    <script src="/js/bootstrap.bundle.min.js"></script>
</body>


</html>