<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resultados</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
</head>

<body class="bg-light">
    <div class="container p-3">
        <div class="card">
            <div class="card-body p-3">
                <div class="card-title">
                    <h1 class="text-center mb-4">Resultados de las encuestas</h1>
                </div>

                <div class="alert alert-info text-center mb-4">
                    <h3>Total de encuestas realizadas: <%= encuestas.totalEncuestas %>
                    </h3>
                </div>

                <!-- Resultados de Edades -->
                <div class="mb-4">
                    <h3 class="fw-bol">Rangos de edad</h3>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Rango de edad</th>
                                <th>Votos</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Menor de 20 años</td>
                                <!-- Si fuera un valor entre comillas debería de accederse con corchetes[] -->
                                <td>
                                    <%= encuestas.edades.menor20%>
                                </td>
                            </tr>
                            <tr>
                                <td>Entre 20 y 30 años</td>
                                <!-- Si fuera un valor entre comillas debería de accederse con corchetes[] -->
                                <td>
                                    <%= encuestas.edades["20-30"]%>
                                </td>
                            </tr>
                            <tr>
                                <td>Entre 30 y 40 años</td>
                                <!-- Si fuera un valor entre comillas debería de accederse con corchetes[] -->
                                <td>
                                    <%= encuestas.edades["30-40"]%>
                                </td>
                            </tr>
                            <tr>
                                <td>Más de 40 años</td>
                                <!-- Si fuera un valor entre comillas debería de accederse con corchetes[] -->
                                <td>
                                    <%= encuestas.edades.mayor40%>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <!-- Resultados de Canales -->
                <div class="mb-4">
                    <h3 class="fw-bold">Canal por el que nos conocieron</h3>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Canal por el que nos han conocido</th>
                                <th>Votos</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Internet</td>
                                <!-- Si fuera un valor entre comillas debería de accederse con corchetes[] -->
                                <td>
                                    <%= encuestas.canales.internet%>
                                </td>
                            </tr>
                            <tr>
                                <td>Redes Sociales</td>
                                <!-- Si fuera un valor entre comillas debería de accederse con corchetes[] -->
                                <td>
                                    <%= encuestas.canales.rrss%>
                                </td>
                            </tr>
                            <tr>
                                <td>Campaña de prensa</td>
                                <!-- Si fuera un valor entre comillas debería de accederse con corchetes[] -->
                                <td>
                                    <%= encuestas.canales.prensa%>
                                </td>
                            </tr>
                            <tr>
                                <td>A través de sus amigos</td>
                                <!-- Si fuera un valor entre comillas debería de accederse con corchetes[] -->
                                <td>
                                    <%= encuestas.canales.amigos%>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <!-- Resultados de Residencia -->
                <div class="mb-4">
                    <h3 class="fw-bold">Ciudad de Residencia</h3>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Residencias</th>
                                <th>Votos</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Madrid</td>
                                <td>
                                    <%= encuestas.residencias.madrid %>
                                </td>
                            </tr>
                            <tr>
                                <td>Comunidad de Madrid</td>
                                <td>
                                    <%= encuestas.residencias.comunidad%>
                                </td>
                            </tr>
                            <tr>
                                <td>Otro territorio</td>
                                <td>
                                    <%= encuestas.residencias.territorio%>
                                </td>
                            </tr>
                            <tr>
                                <td> Fuera de España</td>
                                <td>
                                    <%= encuestas.residencias.fuera%>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <script src="/js/bootstrap.bundle.min.js"></script>
</body>

</html>